.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}
.spacer{
  height: 33vh
}
.logo{
  max-height: 55px;
}
.steam{
  overflow: hidden;
}
.steam-container{
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.steam-container::-webkit-scrollbar {
  display: none;
}

.poll-container{
  max-height: 16vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.poll-container::-webkit-scrollbar {
  display: none;
}

.poll-container-create{
  max-height: 29.1vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.poll-container-create::-webkit-scrollbar {
  display: none;
}

.background{
  background-image: url("assets/neonapartments.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}
.background-subdued

.flex-grow{
  flex-grow: 1;
}

#app{
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.content-shadow{
  box-shadow: .5em .5em 0px #080708;
}

.content-shadow-lite{
  box-shadow: .25em .25em .25em #080708;
}

.text-pop{
  color: var(--light);
  text-shadow: .1em .1em 0px var(--dark);
}

.pop {
  transition: 0.5s ease;
}
.pop:hover {
  transform: scale(1.05);
  box-shadow: .6em .6em 1em #080708;
}
.icon-pop{
  margin: 2px;
}

.icon-pop:hover{
  transform: scale(1.1);
}
.bg-faded{
  background-color: transparentize($color: #F8F6F7, $amount: .10);
}
.bg-darken{
  background-color: transparentize($color: #000000, $amount: .25);
}

.profile-img{
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  box-shadow: .2em .2em .1em #080708;
}

//Loading screen stuff
#animationCanvas{
  height: 40vh;
  width: 80vw;
}
//end loading screen stuff

//Range Slider Styling
input[type=range]{
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::webkit-slider-thumb{
  -webkit-appearance: none;
}

input[type=range]:focus{
  outline:none;
}

input[type=range]::-ms-track{
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid  #11111d;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background:#316aae;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 12px #316aae, 0px 0px 5px #fff; /* Add cool effects to your sliders! */
}


/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid  #11111d;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #316aae;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid  #11111d;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #316aae;
  cursor: pointer;
}

//Track

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #316aae;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #316aae;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #316aae;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #316aae;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #316aae;
}
input[type=range]::-ms-fill-upper {
  background: #316aae;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #316aae;
}

//custom image styling

.img-box{
  height: 100%;
}

.img-card-sm{
  border-radius: 10px; 
  filter: brightness(85%); 
  filter: contrast(110%);
  max-width: 40%;
  height: auto;
}

.img-card-md-two{
  filter: brightness(75%); 
  filter: contrast(150%)
}

.img-card-md-one{
  border-radius: 10px; 
  filter: contrast(135%);
}

.profile-img-overlay{
  filter: brightness(75%);
  filter: contrast(150%);
  filter: opacity(25%);
}

.lvl-up-img{
  max-height: 50vh;
  object-fit: cover;
  border-radius: 40px;
  object-position: 50% 44%;
  filter: contrast(125%);
  filter: brightness(110%);
}

//Divider Classes

.divider-tiny{
  height: 2.5vh;
}

.divider-small{
  height: 5vh;
}

.divider{
  height: 10vh;
}

//Position Classes

.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mid-page{
  position: relative;
  top: 50%;
}

//Input Text

input[type="text"] {
  color: #81C8FF;
  font-family: Iceland;
}

//Input Checkbox

/* Hide the browser's default checkbox */

/* Create a custom checkbox */
.form-check-input{
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}


//Colors without Animations

.red{
  color: #FF88FF;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.253);
  font-family: Iceland;
}

.blue{
  color: #81C8FF;
  font-family: Iceland;
}

.yellow{
  color: #FFDD1B;
  font-family: Pacifico;
}

.green{
  color: #B6FF00;
  font-family: "Press Start 2P";
}
.bad{
  color: #be0000;
  font-family: "Press Start 2P";
}

.orange{
  color: #FF9900;
  font-family: Audiowide;
}

.purple{
  color: #BA01FF;
  font-family: Vampiro One;
}

//Text Neon

.neon {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.flashy.neon.red.on {
  color:#fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  font-family: Monoton; 
}

.flashy.neon.red.on:hover{
  color:#fff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}


.flashy.neon.red {
  color: #fff;
  font-family: Iceland; 
}

.neon.red:hover {
  color: #b22167;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.neon.blue{
  font-size: 1.5em;
  color: #81C8FF;
  font-family: Iceland;
}

.flashy.neon.blue:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.neon.yellow{
  color: #FFDD1B;
  font-family: Pacifico;
}

.flashy.neon.yellow:hover{
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

.neon.green {
  color: #B6FF00;
  font-family: "Press Start 2P";
  font-size: 0.8em;
}
.neon.bad {
  color: #be0000;
  font-family: "Press Start 2P";
  font-size: 0.8em;
}

.flashy.neon.green:hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

.neon.orange {
  color: #FF9900;
  font-family: Audiowide;
}

.flashy.neon.orange:hover {
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

.flashy.neon.orange.on{
  color: #fff;
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
  font-family: Audiowide;
}

.flashy.neon.orange.on:hover{
  color:  #FF9900;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  font-family: Audiowide;
}



.neon.purple {
  color: #BA01FF;
  font-family: Vampiro One;
}

.flashy.neon.purple:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

.flashy.neon:hover {
  color: #ffffff;
}

// ANIMATIONS NEON

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px  #b22167, 0 0 30px  #b22167, 0 0 40px #b22167;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b22167, 0 0 35px #b22167, 0 0 40px #b22167;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #316aae, 0 0 30px #316aae, 0 0 40px #316aae;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #316aae, 0 0 35px #316aae, 0 0 40px #316aae;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #FFDD1B, 0 0 30px #FFDD1B, 0 0 40px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px#B6FF00, 0 0 30px #B6FF00, 0 0 40px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #FF9900, 0 0 7px #FF9900, 0 0 10px #FF9900;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #FF9900, 0 0 5px #FF9900, 0 0 7px #FF9900, 0 0 9px #FF9900, 0 0 10px #FF9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00de, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px  #b22167, 0 0 30px  #b22167, 0 0 40px #b22167;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b22167, 0 0 35px #b22167, 0 0 40px #b22167;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #316aae, 0 0 30px #316aae, 0 0 40px #316aae;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #316aae, 0 0 35px #316aae, 0 0 40px #316aae;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #FFDD1B, 0 0 30px #FFDD1B, 0 0 40px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B;
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px#B6FF00, 0 0 30px #B6FF00, 0 0 40px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #FF9900, 0 0 7px #FF9900, 0 0 10px #FF9900;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #FF9900, 0 0 5px #FF9900, 0 0 7px #FF9900, 0 0 9px #FF9900, 0 0 10px #FF9900;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00de, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de;
  }
}
/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px  #b22167, 0 0 30px  #b22167, 0 0 40px #b22167;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b22167, 0 0 35px #b22167, 0 0 40px #b22167;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #316aae, 0 0 30px #316aae, 0 0 40px #316aae;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #316aae, 0 0 35px #316aae, 0 0 40px #316aae;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #FFDD1B, 0 0 30px #FFDD1B, 0 0 40px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px#B6FF00, 0 0 30px #B6FF00, 0 0 40px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #FF9900, 0 0 7px #FF9900, 0 0 10px #FF9900;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #FF9900, 0 0 5px #FF9900, 0 0 7px #FF9900, 0 0 9px #FF9900, 0 0 10px #FF9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00de, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de;
  }
}

