
$primary: #026670;
$secondary: #9FEDD7;
$danger: #FEF9C7;
$success: #c77121;
$warning: #81807d;
$info: #edeAe5;

$blue: #228DFF;
$indigo: indigo;
$purple:  #BA01FF;
$pink: pink;
$red: #FF1177;
$orange:#FF9900;
$yellow: #FFDD1B;
$green: #B6FF00;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;
$dark: #0a0b0d;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "dark": $dark,
) !default;
