// Color Palette
//#241531 //dark purple
//#b22167 //harsh pink
//#171228 //almost black
//#711748 //red-purple
//#316aae //lighter blue
//#193f79 //blue
//#142854 //dark blue
//#461435 //dark red-purple
// softer glows
//#eeacd3 //pinkish
//#416494 //bluish
//#3c3444 //greyish

$primary: #241531;
$secondary: #142854;
$danger: #b22167;
$success: #eeacd3;
$warning: #711748;
$info: #3c3444;

$blue: #316aae;
$indigo: indigo;
$purple:  #BA01FF;
$pink: #eeacd3;
$red:#b22167;
$orange:#FF9900;
$yellow: #FFDD1B;
$green: #B6FF00;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;
$dark: #171228;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "dark": $dark,
) !default;


